h1{
	text-decoration: underline;
		color: orange;
}

P{
	
	
	color: brown;
};
span{color: orange
}

.description{ 
color: blue
}
#text{color: yellow}
.paragraph{font-style: italic;}
.date{font-weight: bold; color: #08c;}

.box1 .date{
	text-decoration: line-through; 
	letter-spacing: 
} 

.heading{color: blue; font-size: 40px;}
.paragraph{font-size: 16px; line-height: 24px; color: red;}
.box1{text-align: left; }
.box2{text-align: right;}
.box3{text-align: center;}
